exportPattern("^[[:alpha:]]+")
importFrom("stats", "addmargins", "binomial", "chisq.test", "coef",
           "confint", "df", "df.residual", "dnorm", "family", "fisher.test",
           "fitted", "glm", "influence.measures", "lm.wfit",
           "mantelhaen.test", "median", "pnorm", "prop.trend.test",
           "qnorm", "qt", "quantile", "sd")
importFrom("graphics", "pairs", "plot")
importFrom("ggformula", "gf_boxplot", "gf_dhistogram", "gf_fitdistr",
           "gf_errorbarh", "gf_hline",  "gf_jitter", "gf_labs", "gf_point",
           "gf_qq", "gf_qqline", "gf_segment", "gf_smooth",
           "gf_summary", "gf_theme", "gf_text",  "gf_vline", "gf_pointrange")
importFrom("emmeans", "emmeans" , "pwpp")
importFrom("moonBook", "mytable", "mytable2df")
importFrom("huxtable", "as_hux", "set_align", "insert_row", "merge_cells",
           "set_header_rows", "set_bold", "everywhere", "set_all_borders",
           "set_top_border", "set_bottom_border", "final", "style_header_rows",
           "set_top_padding", "set_bottom_padding")
importFrom("sjmisc", "round_num")
importFrom("magrittr", "%>%")
importFrom("dplyr", "select")
importFrom("sjlabelled", "get_label", "term_labels")
importFrom("tidyselect",  "matches", "vars_select", "all_of")
importFrom("tibble",  "rownames_to_column")
importFrom("sandwich", "vcovHC", "vcovHAC")
importFrom("lmtest", "coeftest")
importFrom("gtsummary", "as_hux_table", "bold_labels", "modify_header",
           "modify_footnote", "add_global_p", "modify_spanning_header",
           "tbl_summary", "add_overall", "add_p")

export(axis_labs)
export(bar_error)
export(bland_altman)
export(box_plot)
export(bst)
export(coef_det)
export(contingency)
export(contingency2)
export(cosm_reg)
export(cosm_sum)
export(cross_tbl)
export(diag_test)
export(diag_test2)
export(estat)
export(expand_df)
export(freq_cont)
export(gen_bst_df)
export(geo_mean)
export(get_r2)
export(gf_star)
export(glm_coef)
export(harm_mean)
export(hist_norm)
export(inv_logit)
export(jack_knife)
export(knife_mean)
export(leverage)
export(logistic_gof)
export(mhor)
export(model_labels)
export(multiple)
export(odds_trend)
export(predict_inv)
export(prop_or)
export(pseudo_r2)
export(qq_plot)
export(rank_influence)
export(rank_leverage)
export(reference_range)
export(rel_dis)
export(round_pval)
export(ss_jk)
export(strip_error)
export(theme_pubh)

