exportPattern("^[[:alpha:]]+")
importFrom("stats", "addmargins", "binomial", "chisq.test", "coef",
           "confint", "df", "df.residual", "dnorm", "family", "fisher.test",
           "fitted", "glm", "influence.measures", "lm.wfit",
           "mantelhaen.test", "median", "pnorm", "prop.trend.test",
           "qnorm", "qt", "quantile", "sd")
importFrom("ggplot2", "aes", "geom_errorbar", "geom_point", "ggplot",
           "stat_summary", "geom_jitter", "xlab", "ylab", "geom_qq",
           "geom_qq_line", "geom_hline", "geom_segment", "geom_text")
importFrom("gtsummary", "tbl_summary", "modify_spanning_header", "add_overall",
           "modify_header", "modify_footnote", "bold_labels", "add_p", "as_hux_table")
importFrom("huxtable", "as_hux", "set_align", "insert_row", "merge_cells",
           "set_header_rows", "set_bold", "everywhere", "set_all_borders",
           "set_top_border", "set_bottom_border", "final", "style_header_rows",
           "set_top_padding", "set_bottom_padding")
importFrom("graphics", "pairs", "plot")
importFrom("emmeans", "emmeans")
importFrom("sjmisc", "round_num")
importFrom("dplyr", "select")
importFrom("sjlabelled", "get_label", "term_labels")
importFrom("tidyselect",  "matches", "vars_select", "all_of")
importFrom("tibble",  "rownames_to_column")
importFrom("sandwich", "vcovHC", "vcovHAC")
importFrom("lmtest", "coeftest")
importFrom("survival", "strata")
importFrom("performance", "r2")
importFrom("Epi", "ci.lin")
importFrom("car", "Anova")
importFrom("epitools", "oddsratio", "epitable")
importFrom("jtools", "summ")

export(bar_error)
export(bland_altman)
export(bst)
export(coef_det)
export(cosm_reg)
export(cosm_sum)
export(cross_tbl)
export(effect_plot)
export(estat)
export(expand_df)
export(freq_cont)
export(gen_bst_df)
export(geo_mean)
export(get_r2)
export(gg_star)
export(glm_coef)
export(harm_mean)
export(inv_logit)
export(jack_knife)
export(knife_mean)
export(leverage)
export(logistic_gof)
export(mhor)
export(model_labels)
export(multiple)
export(odds_trend)
export(predict_inv)
export(prop_or)
export(pseudo_r2)
export(qq_plot)
export(rank_influence)
export(rank_leverage)
export(reference_range)
export(rel_dis)
export(round_pval)
export(ss_jk)
export(strip_error)
export(theme_pubh)
